*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  margin: 0;
}
.notes-heading {
  font-size: 20px;
}
.notes-text {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}